<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.tnecesoc.MyInfoDemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
            tools:replace="android:icon"
            android:name=".Utils.ProfileApplication"
            android:allowBackup="true"
            android:icon="@drawable/app_icon"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".Modules.SplashScreen.View.IndexActivity"
                android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Modules.Login.View.LoginActivity"
                android:theme="@style/IndexActivityTheme">
        </activity>
        <activity
                android:name=".Modules.Login.View.SignUpActivity"
                android:label="Sign up">
        </activity>
        <activity
                android:name=".Modules.Homepage.View.NavigateActivity"
                android:theme="@style/IndexActivityTheme">
        </activity>
        <activity
                android:name=".Modules.Homepage.View.AboutActivity"
                android:label="About">
        </activity>
        <activity
                android:name=".Modules.ProfileModule.Profile.View.ProfileMainActivity"
                android:label="Profile">
        </activity>
        <activity
                android:name=".Modules.ProfileModule.Favourite.FavouriteMainActivity"
                android:label="Favourite">
        </activity>
        <activity
                android:name=".Modules.ProfileModule.DownloadFiles.DownloadFilesMainActivity"
                android:label="Download Files">
        </activity>
        <activity
                android:name=".Modules.ProfileModule.Settings.SettingsMainActivity"
                android:label="Settings">
        </activity>
        <activity
                android:name=".Modules.ProfileModule.Contacts.View.ContactsMainActivity"
                android:label="Contacts">
        </activity>
        <activity
                android:name=".Modules.ProfileModule.Posts.PostsMainActivity"
                android:label="Posts">
        </activity>
        <activity
                android:name=".Modules.ProfileModule.Messages.MessagesMainActivity"
                android:label="Messages">
        </activity>
        <activity
                android:name=".GlobalView.ShowProfileViewImpl"
                android:label="Profile">
        </activity>

        <activity
                android:theme="@style/IndexActivityTheme"
                android:name=".Modules.Homepage.View.MainActivity">
        </activity>
    </application>

</manifest>