<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.tnecesoc.MyInfoDemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
            android:name=".Utils.NeighborsApplication"
            android:allowBackup="true"
            android:icon="@drawable/app_icon"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:replace="android:theme">
        <activity
                android:name=".Modules.SplashScreen.View.IndexActivity"
                android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Modules.Login.View.LoginActivity"
                android:theme="@style/IndexActivityTheme">
        </activity>
        <activity
                android:name=".Modules.Login.View.SignUpActivity"
                android:label="@string/activity_sign_up">
        </activity>
        <activity
                android:name=".Modules.Homepage.View.NavigateActivity"
                android:theme="@style/IndexActivityTheme">
        </activity>
        <activity
                android:name=".Modules.Homepage.View.AboutActivity"
                android:label="@string/activity_about">
        </activity>
        <activity
                android:name=".Modules.ProfileModule.Profile.View.ProfileMainActivity"
                android:label="@string/activity_profile">
        </activity>
        <activity
                android:name=".Modules.ProfileModule.Favourite.FavouriteMainActivity"
                android:label="@string/activity_favourite">
        </activity>
        <activity
                android:name=".Modules.ProfileModule.DownloadFiles.DownloadFilesMainActivity"
                android:label="@string/activity_download_files">
        </activity>
        <activity
                android:name=".Modules.ProfileModule.Settings.SettingsMainActivity"
                android:label="@string/activity_settings">
        </activity>
        <activity
                android:name=".Modules.ProfileModule.Contacts.View.ContactsMainActivity"
                android:label="@string/activity_contacts">
        </activity>
        <activity
                android:name=".Modules.ProfileModule.Posts.PostsMainActivity"
                android:label="@string/activity_posts">
        </activity>
        <activity
                android:name=".Modules.ProfileModule.Messages.RecentChatsActivity"
                android:label="@string/activity_messages">
        </activity>
        <activity
                android:name=".GlobalView.ShowProfileViewImpl"
                android:label="@string/activity_profile">
        </activity>
        <activity
                android:name=".Modules.Homepage.View.MainActivity"
                android:theme="@style/IndexActivityTheme">
        </activity>
        <activity
                android:name=".Modules.Homepage.View.SearchContactActivity"
                android:label="@string/activity_search_contact">
        </activity>
        <activity android:name=".Modules.ProfileModule.Messages.PrivateChatActivity">
        </activity>

        <service
                android:name=".Utils.InstantMessageService"
                android:enabled="true"
                android:exported="true">
        </service>
    </application>

</manifest>